<!DOCTYPE html>
<html>
<head>
<title>Stepgroups :: Sign up for and make your own 12-stepgroup website in minutes.</title>
<meta name="title" content="Stepgroups.com" />
<meta name="Keywords" content="coda, codanyc, CoDA, CODA, Codependent, codependency, 12 step, recovery, step groups, stepgroups, 12 steps" />
<meta name="Description" content="Stepgroups.com allows you to make your own 12-step group website. " />

<style type="text/css" media="screen">
body,p,div{
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background: url("http://nyccoda.org/assets/bg_headers-ed04834bea769c3826166852e0ab920e.png") repeat scroll 0 0 #008BAF;
  line-height: 1.2em;
  padding: 50px 0;
}  
h1{
  color: #555555;
  font-size: 200%;
  line-height: 1em;
  margin: 0 0 20px;
  text-transform: uppercase;
}
label{
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}
input, textarea{
  color: #666666;
  display: block;
  font-size: 110%;
  margin-top: 3px;
  padding: 3px;
  width: 98%;
}
.title{
  color:#fff;
  text-align: center;
  font-size: 250%;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.main{
  background: #fff;
  border: 1px solid #ccc;
  width: 600px;
  margin: 0 auto;
  padding: 25px;
}
.actions{
  text-align: right;
  margin-top: 20px;
}
.submit{
  background: none repeat scroll 0 0 #E97E00;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 125%;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1em;
  padding: 10px 10px 8px;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
</style>

</head>
  <body>
    <div class="title">Stepgroups.com</div>
    <div class="main clearfix">
      <%= yield %>
    </div>    
  </body>
</html>