<h1>Sign up </h1>
<p>Stepgroups.com allows you to make, modify and manage your own 12-step group website. Give your organization features, like <strong>meeting maps</strong>, content management, discussion forums and <strong>automated telephone service</strong>.<br><br>Manage your entire site from from a web-based admin portal with no technology experience. Pricing starts at <strong>$5 per month</strong>.</p>
<br>
<form action="/email" method="post" class="clearfix">
  <label>Organization <input type="text" name="organization" /></label>
  <label>URL <input type="text" name="url" /></label> 
  <label>Contact Name <input type="text" name="contact_name" /></label>
  <label>Contact Email <input type="text" name="contact_email" /></label>
  <label>Contact Phone <input type="text" name="contact_phone" /></label>
  <br>
  <label>Message</label> <textarea name="message" rows="5" cols="15"></textarea>

  <div class="actions"><input type="submit" value="Submit Application" class="submit" /></div>
</form>