<h1>Announcements</h1>
<% unless @announcements.empty? %>

<%= render_content('announcements_intro') %>

<ul>
<% @announcements.each do |announcement| %>
    <li><%= nice_date announcement.created_at %> - <%= link_to announcement.header, announcement_path(announcement) %></li>
<% end %>
</ul>
<% else %>
<p>No current announcements. If you have any news, events or other announcements to add, please <%= link_to "contact us", contact_path %>. </p>
<% end %>