<h1>Editing motion</h1>

(please edit your motion within the <%= link_to "document", edit_admin_document_path(@motion.document) %>)

<br><br>

<%= link_to 'Show', admin_motion_path(@motion) %> |
<%= link_to 'Back', admin_motions_path %>
