<h2>Document Preview</h2>

<h3><%= @document.title %></h3>

<p>
  <b>Document type:</b>
  <%= @document.pretty_document_type %>
</p>

<% unless @document.intergroup_session.nil? %>
<p>
  <b>Intergroup session:</b>
  <%= link_to @document.intergroup_session.name, intergroup_session_path(@document.intergroup_session) %>
</p>
<% end %>

<%= link_to 'Back to documents', documents_path %>
