<h1>New document</h1>

<%= render 'form' %>

<br>
<div class="note">Note: You can add motions and transactions after saving the document.</div>
<br><br>

<%= link_to 'Back', admin_documents_path %>

<%= render :partial => "/admin/wysiwyg", :locals => {:no_wrap_tags => true} %>