<h1>New forum post</h1>

<% unless @forum_post.forum.nil? and @forum_post.forum.instructions.blank? %>
  <p class="instructions"><strong>Instructions for posting:</strong> <%= @forum_post.forum.instructions %></p>
<% end %>

<%= render 'form' %>
<%= render :partial => "/wysiwyg" %>

<br><br>

<%= link_to "Back to Forums", forums_path %>