// ============ TAGS =========== //

body{
  background: #f9f9f9;
  color: #434343;
  font: normal 1em/1em 'Myriad Pro', Myriad, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1{
  color: #555;
  font-size: 200%;
  line-height: 1em;
  margin: 0 0 20px;
  text-transform: uppercase;
  
  span{
    color: #777;
    font-weight: normal;
  }
}

h2{
  color: #434343;
  font-size: 150%;
  font-weight: normal;
  line-height: 1em;
  padding-top: 20px;
  margin: 0 0 10px;
}

h3{
  color: #434343;
  font-size: 115%;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 5px;
}

a:link, .content a:visited, a:active{
  color: #006ddc;
  text-decoration: none;
}
a:hover{
  color: #0053a8;
  text-decoration: underline;
}

p{
  margin: 0 0 15px;
}

dl{
  margin: 0 0 30px;

  dt{
    float: left;
    clear: left;
    margin-right: 10px;
    text-align: right;
    width: 125px;
    font-weight: bold;
  }
  dd{
    margin-bottom: 20px;
  }

  address{
    line-height: 1.1em;
    font-style: normal;
    font-size: 90%;
    float: left;
  }
}

table{
  width: 100%;
  
  td, th{
    padding: 5px;
    vertical-align: top;
  }
  th{
    background: #666;
    color: #ddd;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
  }
}
ul{
  list-style-type: disc;
}
ol{
  list-style-type: decimal;
}


// ============ GRID =========== //
.site_width{
  width: 850px;
  margin: 0 auto;
}
.header{
  background: #555;
  border-bottom: 3px solid #fff;
  overflow: hidden;
  padding: 20px 0;
}

.content{
  background: #fff;
  float: left;
  width: 630px;
  min-height: 550px;
  padding: 20px 20px 100px;
  margin-bottom: 50px;
  position: relative;
}

.footer{
  background: #555;
  border-top: 3px solid #fff;
  clear: both;
}


// ============ HEADER =========== //
.header {
  .logo{
    width: 225px;
  }
  
  .header_nav{
    background: #333;
    float: right;
    margin-top: 15px;
    padding: 15px;
    
    li{
      float: left;
      list-style-type: none;
      margin-left: 3px;
    }
    a{
      color: #fff;
      display: block;
      float: left;
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
    }
    a:hover, a:active, .current_page{
      text-decoration: none;
      background: #666;
    }
  }
}


// ============ FOOTER =========== //
.footer {
  padding: 15px 0;
  
  ul{
    list-style-type: none;
    padding: 0;
  }
  
  .logo{
    width: 150px;
    margin-right: 50px;
    opacity: 0.35;
    
    img{
      width: 75px;
    }
    
    .org_name{
      font-size: 0.9em;
    }
  }
}


// ======= ANNOUNCEMENT ======== //
.announcements{
  padding: 15px;
  opacity: 0.5;
  height: 15px;
  float: left;
  overflow: hidden;

  h3{
    float: left;
    font-size: 110%;
    line-height: 1em;
    margin: 0;
  }
  ul{
    float: left;
    width: 450px;
    padding-left: 20px;
    margin: 0;
  }
  li{
    list-style: none;
    font-size: 110%;
    line-height: 1em;
    white-space: nowrap;
  	width: 100%;
  	overflow: hidden;
  	text-overflow: ellipsis;
  }
  a{
    display: block;
  }
}
#announcements:hover{
  opacity: 1;
}
#announcements.loading{
  visibility: hidden;
}


// ============ NAV =========== //
.nav{
  ul{
    margin-bottom: 30px;
    padding: 0;
  }
  li{
    margin-bottom: 3px;
    list-style: none;
    line-height: 1em;
  }
  a{
    display: block;
    padding: 3px 0;
  }
  .title{
    text-transform: uppercase;
    color: #444;
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }
  .current_page a{
    color: #333;
    font-weight: bold;
    cursor: default;
  }
}

.side_nav{
  width: 160px;
  float: left;
  margin: 50px 20px 50px 0;
  
  .current_page{
    color: #666;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
  }
}

.footer_nav{
  .title{
    color: #f7f7f7;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .menu{
    float: left;
    margin-right: 100px;
  }
  a:link, a:visited, a:active{
    padding: 3px 0;
    display: block;
    color: #999;
  }
  a:hover{
    color: #aaa;
  }
}

.signup_form{
  margin-left: 15px;
  font-size: 80%;
  
  label{
    color: #777;
    display: block;
  }
  .textfield{
    color: #888;
    padding: 3px;
    width: 110px;
  }
  .submit{
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 140%;
    padding: 3px 5px 0;
    vertical-align: middle;
    border-radius: 3px;
  }
}



// ============ CONTENT =========== //
#google_map{
  border: 1px solid #aaa;
  width: 500px;
  height: 300px;
}

.logo{
  float: left;
  display: table;
  text-decoration: none;
  
  img{
    float: left;
    padding: 0 10px 0 0;
    display: table-cell;
  }
  
  .org_name{
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 0.95em;
    color: #f7f7f7;
    display: table-cell;
    vertical-align: middle;
  }
}
.logo:hover{
  text-decoration: none;
  opacity: 1;
}

.content{
  line-height: 1.2em;
  
  p, ul, ol, div, span, td, strong{
    line-height: 1.2em;
  }

  ul, ol{
  margin-bottom: 10px;
  
    li{
      margin-bottom: 5px;
    }
  }
  
  .copyright{
    font-size: 0.9em;
    color: #999;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
  }
}

.home_photo{
  width: 100%;
  margin: 15px 0;
}

.panels{
  margin-bottom: 20px;
  
  th{
    background: #555;
    width: 33%;
    padding: 15px 5px 12px;
    border-right: 3px solid #fff;
    text-align: center;
    vertical-align: middle;
  }
  td{
    color: #666;
    background: #f7f7f7;
    border-right: 3px solid #fff;
    padding: 10px 15px;
    width: 33%;
  }
  h2{
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }
  .panel_action,
  .panel_action:hover,
  .panel_action:visited,
  .panel_action:active{
    background: #555;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1em;
    padding: 10px 10px 8px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
  }
  .panel_action:hover{
    background: #333;
  }
  
  .panel_wide{
    width: auto;
    min-width: 33%;
  }
  .panel_last{
    border-right: none;
  }
  .meetings{
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
    
    .location{
      color: #999;
      white-space: nowrap;
    }
  }
}

.field{
  margin-bottom: 15px;
  
  input{
    padding: 4px 3px 2px;
  }
  
  label{
    line-height: 1.5em;
    color: #777;
  }
}
.actions{
  input{
    background: #086B8D;
    color: #fff;
    padding: 10px 13px 7px;
    font-size: 20px;
    letter-spacing: 1px;
    border: 1px solid #333;
    box-shadow: inset 0 0 0 1px #fff;
  }
}
.textarea{
  margin-top: 30px;
  font-size: 16px;
}


// ============ MEETINGS =========== //
.meeting_list{
  margin-bottom: 20px;
  
  tr:hover{
    background: #f7f7f7;
  }

  .district{
    padding: 10px 10px 7px;
    
    h3{
      margin-bottom: 0;
      color: #fff;
    }
  }
  
  .alternate{
    background-color: #fff;
  }
  
  .building{
    width: 23%;
  }

  .time{
    width: 10%;
    vertical-align: top;
  }
}

.meeting_list_map{
  margin-top: 50px;
}


// ============ FORUMS ============ //
.forums{
  margin-bottom: 50px;
  
  table p{
    margin: 0 0 13px;
    color: #666;
  }
  h4{
    margin: 0;
    height: 1.7em;
    font-weight: normal;
    a{
      display: block;
      padding: 5px 0;
      position: absolute;
      height: 65px;
      width: 93%;
    }
  }
  th{
    padding: 10px 10px 5px;
  }
  th h2{
    color: #eee;
    margin: 0;
    padding: 0;
  }
  td{
    padding: 12px 10px 5px;
    border-top: 1px solid #ccc;
  }
  tr.excerpt td{
    padding: 0 10px 13px;
    border: none;
  }
  tr.hover td{
    background: #f7f7f7;
  }
  
  .link{
    width: 225px;
    a{
      display: block;
      position: absolute;
      height: 35px;
      width: 93%;
      
      span {
        display: block;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 230px;
      }
    }
  }
  .hover .link span{
    text-decoration: underline;
  }
  
  .forum_posts .link a{
    height: 60px;
  }
  .excerpt, .description{
    color: #999999;
    font-size: 85%;
    margin-bottom: 0;
  }
  
  .details{
    font-size: 85%;
    font-style: italic;
    color: #666;
    margin-bottom: 4px;
  }
  .stats{
    padding-top: 43px;
    font-size: 85%;
    text-align: right;
  }
  .post_num, .replies_num{
    white-space: nowrap;
    padding: 10px 10px 12px 5px;
    text-align: right;
    width: 50px;
  }
  .replies_num{
    font-size: 16px;
    color: #434343;
    padding-top: 0;
  }
}

.forum_post{
  margin-bottom: 50px;
  
  h2{
    padding-top: 0;
  }
  .details{
    font-style: italic;
    color: #777;
    margin-bottom: 15px;
  }
}

.forum_reply{
  padding: 0 30px;
  margin-bottom: 70px;
}
.forum_replies{
  margin: 20px 0 30px;
  
  td{
    padding: 12px 10px 5px;
    border-top: none;
    border-bottom: 1px solid #ccc;
  }
}
.reply_form{
  display: none;
}


// ============ CONTACT =========== //
.new_message textarea{
  width: 100%;
  height: 150px;
}


// ============ UTILITY =========== //
.note{
  font-size: 85%;
  color: #888;
}
.uppercase{
  text-transform: uppercase;
}
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix{
  *zoom:1;
}
