// ============ TAGS =========== //

body{
  color: #434343;
  font: normal 1em/1em 'Myriad Pro', Myriad, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h2{
  background: #f09e00;
  color: #fff;
  font-size: 250%;
  line-height: 1em;
  padding: 15px 0 8px 15px;
  margin: 70px 0 90px -20px;
  text-transform: uppercase;
}

h3{
  color: #434343;
  font-size: 150%;
  font-weight: normal;
  margin: 0 0 40px;
}

a:link, a:visited, a:hover, a:active{
  color: #006ddc;
  text-decoration: none;
}

p{
  margin: 0 0 15px;
}

dl{
  margin: 0 0 30px;

  dt{
    float: left;
    clear: left;
    margin-right: 10px;
    text-align: right;
    width: 125px;
    font-weight: bold;
  }
  dd{
    margin-bottom: 20px;
  }

  address{
    line-height: 1.1em;
    font-style: normal;
    font-size: 90%;
    float: left;
  }
}

table{
  td, th{
    padding: 5px;
  }
  th{
    text-align: left;
  }
}



// ============ GRID =========== //
#container{
  overflow: hidden;
  padding: 30px 0 50px 30px;
}

#content{
  float: left;
  margin-left: 20px;
  width: 500px;
}


// ============ MENU =========== //
#nav{
  width: 260px;
  float: left;
  margin-bottom: 70px;

  ul{
    margin: 0 0 30px 15px;
    padding: 0;
  }
  li{
    padding: 3px 0;
    margin-bottom: 5px;
    list-style: none;
    font-size: 120%;
    line-height: 1em;
  }
  .current_page a{
    color: #333;
    font-weight: bold;
    cursor: default;
  }
  #logo{
    margin-bottom: 40px;
    display: block;
  }
}

.signup_form{
  margin-left: 15px;
  font-size: 80%;
  
  label{
    color: #777;
    display: block;
  }
  .textfield{
    color: #888;
    padding: 3px;
    width: 110px;
  }
  .submit{
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 3px;
  }
}



// ============ CONTENT =========== //
#google_map{
  border: 1px solid #aaa;
  width: 500px;
  height: 300px;
}



// ============ UTILITY =========== //
.uppercase{
  text-transform: uppercase;
}
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix{
  *zoom:1;
}
