// ============ TAGS =========== //

body{
  color: #434343;
  font: normal 1em/1em 'Myriad Pro', Myriad, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h2{
  background: #f09e00;
  color: #fff;
  font-size: 200%;
  line-height: 1em;
  padding: 15px 0 8px 15px;
  margin: 35px 0 75px;
  text-transform: uppercase;
}

h3{
  color: #434343;
  font-size: 150%;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 40px;
}

a:link, a:visited, a:hover, a:active{
  color: #006ddc;
  text-decoration: none;
}

p{
  margin: 0 0 15px;
}

dl{
  margin: 0 0 30px;

  dt{
    float: left;
    clear: left;
    margin-right: 10px;
    text-align: right;
    width: 125px;
    font-weight: bold;
  }
  dd{
    margin-bottom: 20px;
  }

  address{
    line-height: 1.1em;
    font-style: normal;
    font-size: 90%;
    float: left;
  }
}

table{
  width: 100%;
  
  td, th{
    padding: 5px;
    vertical-align: top;
  }
  th{
    background: #666;
    color: #ddd;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
  }
}



// ============ GRID =========== //
#container{
  overflow: hidden;
  padding: 30px 0 50px 30px;
}

#content{
  float: left;
  width: 650px;
}


// ======= ANNOUNCEMENT ======== //
#announcements{
  background: #fff0d2;
  padding: 10px 15px;
  margin-bottom: 35px;
  opacity: 0.5;
  height: 15px;
  overflow: hidden;
}
#announcements h3{
  float: left;
  font-size: 110%;
  line-height: 1em;
  margin: 0;
}
#announcements ul{
  float: left;
  width: 450px;
  padding-left: 20px;
  margin: 0;
}
#announcements li{
  list-style: none;
  font-size: 110%;
  line-height: 1em;
  white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
#announcements:hover{
  opacity: 1;
}
#announcements.loading{
  visibility: hidden;
}


// ============ MENU =========== //
#nav{
  width: 230px;
  float: left;
  margin-bottom: 70px;

  ul{
    margin: 0 0 30px 15px;
    padding: 0;
  }
  li{
    padding: 3px 0;
    margin-bottom: 5px;
    list-style: none;
    line-height: 1em;
  }
  .current_page a{
    color: #333;
    font-weight: bold;
    cursor: default;
  }
  #logo{
    margin-bottom: 35px;
    display: block;
    
    img{
      width: 175px;
      height: 175px;
    }
  }
}

.signup_form{
  margin-left: 15px;
  font-size: 80%;
  
  label{
    color: #777;
    display: block;
  }
  .textfield{
    color: #888;
    padding: 3px;
    width: 110px;
  }
  .submit{
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 140%;
    padding: 3px 5px 0;
    vertical-align: middle;
    border-radius: 3px;
  }
}



// ============ CONTENT =========== //
#google_map{
  border: 1px solid #aaa;
  width: 500px;
  height: 300px;
}



// ============ MEETINGS =========== //
.meeting_list{
  margin-bottom: 20px;

  .district{
    padding: 10px 10px 7px;
    
    h3{
      margin-bottom: 0;
      color: #fff;
    }
  }
  
  .alternate{
    background-color: #fff;
  }
  
  .building{
    width: 23%;
  }

  .time{
    width: 10%;
    vertical-align: top;
  }
}

.meeting_list_map{
  margin-top: 50px;
}

// ============ UTILITY =========== //
.note{
  font-size: 85%;
  color: #888;
}
.uppercase{
  text-transform: uppercase;
}
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix{
  *zoom:1;
}
