a:visited{
  color: #006DDC;
}

.admin .site_width{
  width: 95%;
}
.admin .side_nav{
  width: 18%;
}
.admin .content{
  width: 75%;
  float: right;
}

#notice{
  background: #d3eab8;
  color: #3f7500;
  line-height: 3em;
  text-indent: 1em;
}

#error{
  background: #eab8b8;
  color: #840404;
  line-height: 3em;
  text-indent: 1em;
}

.messages{
  .responded td{
    color: #ccc;
  }
  .responded a{
    color: #B4CEE8;
  }
}