<h1>Intergroup Sessions</h1>

<table>
  <tr>
    <th>Session date</th>
    <th>Attendance</th>
    <th>Quorum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @intergroup_sessions.each do |intergroup_session| %>
  <tr>
    <td><%= intergroup_session.session_date %></td>
    <td><%= intergroup_session.attendance %></td>
    <td><%= intergroup_session.quorum %></td>
    <td><%= link_to 'Show', intergroup_session %></td>
  </tr>
<% end %>
</table>
