<h1>Intergroup Session</h1>

<p>
  <b>Session date:</b>
  <%= @intergroup_session.session_date %>
</p>

<p>
  <b>Attendance:</b>
  <%= @intergroup_session.attendance %>
</p>

<p>
  <b>Quorum:</b>
  <%= @intergroup_session.quorum %>
</p>


<%= link_to 'Back', intergroup_sessions_path %>
