<% unless Menu.get_items(1).empty? %>
<div class="menu">
  <div class="title">Get Started</div>
  <ul>
    <% Menu.get_items(1).each do |item| %>
      <li><%= link_to item.label, item.path, :class => ('current_page' if current_page?(item.path)) %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% unless Menu.get_items(2).empty? %>
<div class="menu">
  <div class="title">Recovery in <%= SiteConfig.get("program") %></div>
  <ul>
    <% Menu.get_items(2).each do |item| %>
      <li><%= link_to item.label, item.path, :class => ('current_page' if current_page?(item.path)) %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% unless Menu.get_items(3).empty? %>
<div class="menu">
  <div class="title">Get Involved</div>
  <ul>
    <% Menu.get_items(3).each do |item| %>
      <li><%= link_to item.label, item.path, :class => ('current_page' if current_page?(item.path)) %></li>
    <% end %>
  </ul>
</div>
<% end %>