<div id="nav">
  <a id="logo" href="/pages/what_is_coda"><%= image_tag "logo.png", :alt => "NYCODA" %></a>
  <ul>
    <li><a href="#">What is Coda</a></li>
    <li>About Codependency</li>
    <li>The 12 Steps</li>
    <li><%= link_to "Meeting List", meetings_path %></li>
  </ul>
  <ul>
    <li>Sponsorship</li>
    <li>Intergroup</li>
    <li><%= link_to "Meeting Minutes", documents_path(:type => 'minutes') %></li>
    <li>Service Opportunities</li>
  </ul>
  <div class="signup_form">
    <label>CoDA News &amp; Updates</label>
    <input type="text" class="textfield" name="email" value="email" />
    <input type="submit" class="submit" value="sign up" />
  </div>
</div>