<div id="nav">
  <%= link_to image_tag("logo.png", :alt => "NYCODA"), root_path, :id => "logo" %>
  <% unless Menu.get_items(0).empty? %>
    <ul>
      <% Menu.get_items(0).each do |item| %>
        <li><%= link_to item.label, item.path %></li>
      <% end %>
    </ul>
  <% end %>
  <% unless Menu.get_items(1).empty? %>
    <ul>
      <% Menu.get_items(1).each do |item| %>
        <li><%= link_to item.label, item.path %></li>
      <% end %>
    </ul>
  <% end %>
</div>